* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
body {
  background-image: url("../img/bgk.jpg");
  height: 100vh;
  background-position: center;
  background-size: auto;
}
header{
  background: linear-gradient(black, black, transparent);
}
header nav {
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
nav .nav-sx,
nav .nav-dx{
  display: flex;
  align-items: center;
}
header .nav-sx img{
  padding-right: 20px;
}
header .nav-sx ul,
header .nav-dx ul{
  list-style: none;
  display: flex;
  align-items: center;
  color: white;
}
header .nav-sx li{
  padding-left: 10px;
}
header .nav-sx li:first-child{
  font-weight: bold;
}
header .nav-dx i{
  padding-right: 20px;
  font-size: 30px;
}
header img {
  height: 50px;
  margin-top: 10px;
}
/* PARTE DELLE LOCANDINE */
.films-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.film {
  display: flex;
  justify-content: flex-start;
  flex-basis: 250px;
  margin: 10px 2px;
  position: relative;
}
.film .immagine{
  transition: .5s;
}
.film img {
  width: 100%;
}
.film ul{
  padding: 20px;
}
.film .descrizione{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: .5s;
  overflow: hidden;
  padding-top: 60px;
}
.film .descrizione:hover{
  opacity: 1;
  background: rgba(46, 58, 70, 0.8);
  color: white;
  text-shadow: 1px 1px 1px black;
  z-index: 1;
  padding-top: 0;
  border: 1px solid white;
}
.film .immagine:hover{
  transform: scale(1.1);
  z-index: 1;
}
.film .descrizione img{
  width: 40px;
  height: 30px;
}
.film ul{
  list-style: none;
}
.film .titolo {
  text-transform: uppercase;
}
.film span{
  font-weight: normal;
}
.film .bandiera{
}
.film .vote{
  color: #FCED3A;
}
.film .vote .vuote{
  font-size: 20px;
}
.film .trama{
  font-size: 16px;
}
/* INPUT ANIMATO*/
input[type="text"] {
  height: 30px;
  font-size: 25px;
  font-weight: 100;
  border: none;
  outline: none;
  color: black;
  padding: 3px;
  padding-left: 10px;
  padding-right: 50px;
  width: 0px;
  position: absolute;
  top: 20px;
  right: 166px;
  background: none;
  z-index: 1;
  transition: .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}
input[type="text"]:focus {
  background-color: white;
  width: 400px;
  z-index: 1;
  cursor: text;
}
