<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BoolFlix</title>
        <link rel="shortcut icon" type="image/x-icon" href="icon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
      <div id="app" class="container">
        <header >
          <img src="netflix.png" alt="logo" />
          <div class="input" >
            <input type="text" v-model="query" @keyup.enter="search">
            </input>
          </div>
        </header>
        <div  class="films-container container">
          <div class="film" v-for="film in films">
            <div class="immagine">
              <!-- <img :src="path + film.poster_path"> -->
            <img :src="(film.poster_path == null) ? 'empty.png': path + film.poster_path">
            </div>
            <div class="descrizione">
              <h2 class="titolo">{{ film.title }}</h2>
              <h3>{{ film.original_title }}</h3>
              <h3 class="lingua">{{ film.original_language }}</h3>
              <h3 class="vote">{{ film.vote_average }} <i class="fas fa-star"></i></h3>
            </div>

          </div>

  </div>
        <script src="js/main.js" charset="utf-8"></script>
    </body>
</html>
